<a href="https://colab.research.google.com/github/NandiniBasdwar7/concise/blob/main/day_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Creating a Series-A Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, Python objects, etc.). The labels are collectively called the index,
import pandas as pd
my_list = [10, 20, 30, 40, 50]
my_series = pd.Series(my_list)
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [ ]:
#Creating a DataFrame-A Pandas DataFrame is a two-dimensional, labeled data structure with columns of potentially different types, similar to a spreadsheet or SQL table. You can create a DataFrame in numerous ways: From a Dictionary of Lists (Common Method): This is a very common and intuitive way to create DataFrames where keys become column names and values (lists) represent the data in those columns.

In [ ]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [ ]:
#From a List of Lists: Each inner list represents a row in the DataFrame. You can also specify column names and index labels.
import pandas as pd
data = [['Alice', 25, 'New York'],
        ['Bob', 30, 'London'],
        ['Charlie', 35, 'Paris']]
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [ ]:
#From a Dictionary of Series: You can combine multiple Series objects into a DataFrame, where each Series becomes a column,
import pandas as pd
s1 = pd.Series([10, 20, 30], name='Numbers')
s2 = pd.Series(['apple', 'banana', 'orange'], name='Fruits')
df = pd.concat([s1, s2], axis=1) # Concatenate along columns (axis=1)
print(df)

   Numbers  Fruits
0       10   apple
1       20  banana
2       30  orange

In [ ]:
#With Index Labels: You can provide custom row index labels when creating a DataFrame.
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data, index=['student_a', 'student_b', 'student_c'])
print(df)

              Name  Age
student_a    Alice   25
student_b      Bob   30
student_c  Charlie   35

In [ ]:
#CSV (Comma-Separated Values) files CSV files are a prevalent format for storing tabular data,with columns often delimited by commas (or other characters). Pandas offers the read_csv() function to import data from these files.
import pandas as pd

# Basic CSV reading
df_csv = pd.read_csv('/content/data.csv')
print(df_csv.head())

       f1      f2      f3      f4      f5      f6      f7      f8      f9  \
0 -0.4394 -0.0930  0.1718  0.4620  0.6226  0.4704  0.3578  0.0478 -0.1184
1 -0.4348 -0.1198  0.2474  0.4036  0.5026  0.6328  0.4948  0.0338 -0.0520
2 -0.2330  0.2124  0.5014  0.5222 -0.3422 -0.5840 -0.7168 -0.6342 -0.8614
3 -0.3808 -0.0096  0.2602  0.2554 -0.4290 -0.6746 -0.6868 -0.6650 -0.8410
4 -0.3412  0.0946  0.6082  0.6216 -0.1622 -0.3784 -0.4324 -0.4358 -0.4966

      f10  ...    f609    f610    f611    f612    f613    f614    f615  \
0 -0.2310  ...  0.4102  0.2052  0.3846  0.3590  0.5898  0.3334  0.6410
1 -0.1302  ...  0.0000  0.2954  0.2046  0.4772  0.0454  0.2046  0.4318
2 -0.8318  ... -0.1112 -0.0476 -0.1746  0.0318 -0.0476  0.1112  0.2540
3 -0.9614  ... -0.0504 -0.0360 -0.1224  0.1366  0.2950  0.0792 -0.0072
4 -0.5406  ...  0.1562  0.3124  0.2500 -0.0938  0.1562  0.3124  0.3124

     f616    f617  class
0  0.5898 -0.4872    '1'
1  0.4546 -0.0910    '1'
2  0.1588 -0.4762    '2'
3  0.0936 -0.1510    '2'
4  0.2188 -0.2500    '3'

[5 rows x 618 columns]

In [12]:
import pandas as pd

json_string = '''
[
  {
    "name": "Alice",
    "age": 25,
    "city": "New York"
  },
  {
    "name": "Bob",
    "age": 30,
    "city": "London"
  },
  {
    "name": "Charlie",
    "age": 35,
    "city": "Paris"
  }
]
'''

df = pd.read_json(json_string)
print(df)

      name  age      city
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

/tmp/ipython-input-12-2278154463.py:23: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(json_string)

In [13]:
#3. Excel files-Pandas supports reading Excel files (.xls, .xlsx) into DataFrames using the read_excel() function
import pandas as pd

# Reading the first sheet of an Excel file
df_excel = pd.read_excel('/content/FSI-2023-DOWNLOAD.xlsx')
print(df_excel.head())

                     Country  Year Rank  Total  S1: Demographic Pressures  \
0                    Somalia  2023  1st  111.9                       10.0
1                      Yemen  2023  2nd  108.9                        9.6
2                South Sudan  2023  3rd  108.5                        9.7
3  Congo Democratic Republic  2023  4th  107.2                        9.7
4                      Syria  2023  5th  107.1                        7.4

   S2: Refugees and IDPs  C3: Group Grievance  \
0                    9.0                  8.7
1                    9.6                  8.8
2                   10.0                  8.6
3                    9.8                  9.4
4                    9.1                  9.1

   E3: Human Flight and Brain Drain  E2: Economic Inequality  E1: Economy  \
0                               8.6                      9.1          9.5
1                               6.4                      7.9          9.9
2                               6.5                      8.6          8.6
3                               6.4                      8.4          8.1
4                               8.0                      6.5          9.6

   P1: State Legitimacy  P2: Public Services  P3: Human Rights  \
0                   9.6                  9.8               9.0
1                   9.8                  9.6               9.6
2                   9.8                  9.7               8.7
3                   9.3                  9.3               9.3
4                  10.0                  9.0               9.1

   C1: Security Apparatus  C2: Factionalized Elites  X1: External Intervention
0                     9.5                      10.0                        9.1
1                     8.6                       9.9                        9.2
2                     9.9                       9.2                        9.2
3                     8.8                       9.6                        9.1
4                     9.4                       9.9                       10.0

In [14]:
df_excel.head()

,Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
0,Somalia,2023,1st,111.9,10.0,9.0,8.7,8.6,9.1,9.5,9.6,9.8,9.0,9.5,10.0,9.1
1,Yemen,2023,2nd,108.9,9.6,9.6,8.8,6.4,7.9,9.9,9.8,9.6,9.6,8.6,9.9,9.2
2,South Sudan,2023,3rd,108.5,9.7,10.0,8.6,6.5,8.6,8.6,9.8,9.7,8.7,9.9,9.2,9.2
3,Congo Democratic Republic,2023,4th,107.2,9.7,9.8,9.4,6.4,8.4,8.1,9.3,9.3,9.3,8.8,9.6,9.1
4,Syria,2023,5th,107.1,7.4,9.1,9.1,8.0,6.5,9.6,10.0,9.0,9.1,9.4,9.9,10.0

In [16]:
df_excel.shape

(179, 16)

In [17]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           179 non-null    object
 1   Year                              179 non-null    int64
 2   Rank                              179 non-null    object
 3   Total                             179 non-null    float64
 4   S1: Demographic Pressures         179 non-null    float64
 5   S2: Refugees and IDPs             179 non-null    float64
 6   C3: Group Grievance               179 non-null    float64
 7   E3: Human Flight and Brain Drain  179 non-null    float64
 8   E2: Economic Inequality           179 non-null    float64
 9   E1: Economy                       179 non-null    float64
 10  P1: State Legitimacy              179 non-null    float64
 11  P2: Public Services               179 non-null    float64
 12  P3: Human Rights                  179 non-null    float64
 13  C1: Security Apparatus            179 non-null    float64
 14  C2: Factionalized Elites          179 non-null    float64
 15  X1: External Intervention         179 non-null    float64
dtypes: float64(13), int64(1), object(2)
memory usage: 22.5+ KB

In [18]:
df_excel.describe()

,Year,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
count,179.0,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000,179.000000
mean,2023.0,65.832402,5.955866,4.764246,5.574860,5.184358,5.323464,5.687151,5.741341,5.459218,5.436872,5.014525,6.618436,5.072067
std,0.0,23.966251,2.278726,2.373935,2.367757,2.079591,2.068546,2.200741,2.901853,2.581299,2.602588,2.379810,2.427869,2.577801
min,2023.0,14.500000,1.100000,0.500000,0.300000,0.400000,1.400000,1.000000,0.300000,0.900000,0.400000,0.300000,1.000000,0.300000
25%,2023.0,49.000000,4.100000,2.800000,3.600000,3.700000,3.650000,4.100000,3.650000,3.450000,3.600000,3.350000,4.950000,3.150000
50%,2023.0,68.200000,5.900000,4.500000,5.500000,5.600000,5.200000,6.000000,6.400000,5.100000,5.700000,5.100000,7.200000,5.300000
75%,2023.0,82.200000,8.050000,6.450000,7.550000,6.600000,7.200000,7.150000,8.100000,7.950000,7.500000,6.700000,8.550000,7.000000
max,2023.0,111.900000,10.000000,10.000000,9.700000,10.000000,9.600000,9.900000,10.000000,10.000000,9.900000,10.000000,10.000000,10.000000

In [28]:
#🔹 Exercise 11:-Load a sample CSV (e.g., sales.csv).
#Print column types, shape, top 5 rows.
#Rename one column.
#
import pandas as pd

try:
    df = pd.read_csv('/content/sales_data_sample.csv', encoding='latin1')
    print("File read successfully with latin1 encoding.")
except UnicodeDecodeError:
    try:
        df = pd.read_csv('/content/sales_data_sample.csv', encoding='cp1252')
        print("File read successfully with cp1252 encoding.")
    except UnicodeDecodeError:
        try:
            df = pd.read_csv('/content/sales_data_sample.csv', encoding='utf-8-sig') # For files with a BOM
            print("File read successfully with utf-8-sig encoding.")
        except UnicodeDecodeError:
            print("Could not decode with common encodings. Consider trying to detect the encoding or re-saving the file.")
print(df.head(10))

File read successfully with latin1 encoding.
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27
5        10168               36      96.66                1  3479.76
6        10180               29      86.13                9  2497.77
7        10188               48     100.00                1  5512.32
8        10201               22      98.57                2  2168.54
9        10211               41     100.00               14  4708.44

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...
5  10/28/2003 0:00  Shipped       4        10     2003  ...
6  11/11/2003 0:00  Shipped       4        11     2003  ...
7  11/18/2003 0:00  Shipped       4        11     2003  ...
8   12/1/2003 0:00  Shipped       4        12     2003  ...
9   1/15/2004 0:00  Shipped       1         1     2004  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA
5              9408 Furth Circle           NaN     Burlingame    CA
6        184, chausse de Tournai           NaN          Lille   NaN
7    Drammen 121, PR 744 Sentrum           NaN         Bergen   NaN
8      5557 North Pendale Street           NaN  San Francisco    CA
9              25, rue Lauriston           NaN          Paris   NaN

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium
5      94217     USA       NaN          Hirano             Juri   Medium
6      59000  France      EMEA           Rance          Martine    Small
7     N 5804  Norway      EMEA          Oeztan           Veysel   Medium
8        NaN     USA       NaN          Murphy            Julie    Small
9      75016  France      EMEA         Perrier        Dominique   Medium

[10 rows x 25 columns]

In [22]:
print("Column Types:")
print(df.dtypes)  # dtypes attribute returns the data type of each column.
print("\\n")

# 2. Print DataFrame Shape
print("DataFrame Shape:")
print(df.shape)  # shape attribute returns a tuple (rows, columns).
print("\\n")

# 3. Print Top 5 Rows
print("Top 5 Rows:")
print(df.head(5))

Column Types:
ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object
\n
DataFrame Shape:
(2823, 25)
\n
Top 5 Rows:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [23]:
df.rename(columns={'ORDERNUMBER': 'Order_ID'}, inplace=True)

# Print the columns to verify the change
print(df.columns)
print("\\nTop 5 Rows after renaming:")
print(df.head())

Index(['Order_ID', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES',
       'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE',
       'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1',
       'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY',
       'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE'],
      dtype='object')
\nTop 5 Rows after renaming:
   Order_ID  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0     10107               30      95.70                2  2871.00
1     10121               34      81.35                5  2765.90
2     10134               41      94.74                2  3884.34
3     10145               45      83.26                6  3746.70
4     10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [24]:
df.isnull()

,Order_ID,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2819,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2820,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2821,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,False,False,False,False,False,False
2822,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False

In [25]:
df.isnull().sum()

Order_ID               0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [26]:
columns_to_drop = ['ADDRESSLINE2', 'TERRITORY']

# Drop the specified columns
# axis=1 indicates that columns are dropped
# inplace=True modifies the DataFrame directly
df.drop(columns=columns_to_drop, axis=1, inplace=True)

# Verify the columns are dropped by printing the DataFrame's columns
print("DataFrame columns after dropping:")
print(df.columns)

DataFrame columns after dropping:
Index(['Order_ID', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES',
       'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE',
       'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1', 'CITY',
       'STATE', 'POSTALCODE', 'COUNTRY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

In [27]:

# Assuming df is your loaded DataFrame
# df = pd.read_csv('/content/sales_data_sample.csv', encoding='latin1')
# And you've already dropped ADDRESSLINE2 and TERRITORY

# Calculate the mode of the 'STATE' column
state_mode = df['STATE'].mode()[0]  # .mode() returns a Series, so [0] gets the first mode

# Fill missing values in 'STATE' with the calculated mode
df['STATE'].fillna(state_mode, inplace=True)

print("Missing values in 'STATE' after mode imputation:")
print(df['STATE'].isnull().sum())
print("\\nFirst 5 rows of 'STATE' column after imputation:")
print(df['STATE'].head())

Missing values in 'STATE' after mode imputation:
0
\nFirst 5 rows of 'STATE' column after imputation:
0    NY
1    CA
2    CA
3    CA
4    CA
Name: STATE, dtype: object

/tmp/ipython-input-27-2533247477.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['STATE'].fillna(state_mode, inplace=True)

In [31]:
import pandas as pd

# Calculate the mode (most frequent value) of the 'POSTALCODE' column
mode_postalcode = df['POSTALCODE'].mode()[0]

# Fill the missing values in the 'POSTALCODE' column with the calculated mode
df['POSTALCODE'].fillna(value=mode_postalcode, inplace=True)
print(df['POSTALCODE'].isnull().sum())
print(df['POSTALCODE'].head())

0
0    10022
1    51100
2    75508
3    90003
4    28034
Name: POSTALCODE, dtype: object