<a href="https://colab.research.google.com/github/NandiniBasdwar7/concise/blob/main/Diman_sir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df1=pd.read_csv('/content/index.csv')

In [2]:
df1

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.70,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.70,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.70,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.90,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.70,Latte
...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23.02,Cortado
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27.92,Americano with Milk
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32.82,Latte
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32.82,Latte
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32.82,Latte

In [16]:
df1.columns.tolist()

['date', 'datetime', 'cash_type', 'card', 'money', 'coffee_name']

In [41]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1133 entries, 0 to 1132
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1133 non-null   datetime64[ns]
 1   datetime     1133 non-null   datetime64[ns]
 2   cash_type    1133 non-null   object
 3   card         1133 non-null   object
 4   money        1133 non-null   int64
 5   coffee_name  1133 non-null   object
 6   month        1133 non-null   object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 62.1+ KB

In [43]:
df1.duplicated().sum()

np.int64(0)

In [17]:
df1['date']=pd.to_datetime(df1['date'])

In [40]:
df1['date'].tail()

1128   2024-07-31
1129   2024-07-31
1130   2024-07-31
1131   2024-07-31
1132   2024-07-31
Name: date, dtype: datetime64[ns]

In [18]:
df1['datetime']=pd.to_datetime(df1['datetime'])

In [20]:
df1['card']=df1['card'].fillna('unknown')

In [21]:
df1['card']

0       ANON-0000-0000-0001
1       ANON-0000-0000-0002
2       ANON-0000-0000-0002
3       ANON-0000-0000-0003
4       ANON-0000-0000-0004
               ...
1128    ANON-0000-0000-0443
1129    ANON-0000-0000-0040
1130    ANON-0000-0000-0444
1131    ANON-0000-0000-0445
1132    ANON-0000-0000-0446
Name: card, Length: 1133, dtype: object

In [22]:
df1.isna().sum()

date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
dtype: int64

In [23]:
#which 'coffee_name' highest sale?
df1['coffee_name'].value_counts()

coffee_name
Americano with Milk    268
Latte                  243
Cappuccino             196
Americano              169
Cortado                 99
Hot Chocolate           74
Espresso                49
Cocoa                   35
Name: count, dtype: int64

In [24]:
#which coffee type highest total revenue?
df1.groupby('coffee_name')['money'].sum()

coffee_name
Americano              4530
Americano with Milk    8390
Cappuccino             7201
Cocoa                  1273
Cortado                2672
Espresso               1099
Hot Chocolate          2729
Latte                  8848
Name: money, dtype: int64

In [25]:
#how many unique customers bought coffee in march 2024?
march_df=df1[df1['date'].dt.month==3]
march_df['card'].nunique()

90

In [38]:
#i want find out month wise which cofee sale most?
df1['month']=df1['date'].dt.month_name()
df1.groupby('month')['coffee_name'].value_counts().reset_index()

    month          coffee_name  count
0   April           Cappuccino     43
1   April  Americano with Milk     42
2   April            Americano     35
3   April                Latte     31
4   April              Cortado     19
5   April        Hot Chocolate     13
6   April             Espresso      7
7   April                Cocoa      6
8    July  Americano with Milk     65
9    July                Latte     56
10   July            Americano     36
11   July           Cappuccino     32
12   July              Cortado     14
13   July             Espresso     14
14   July        Hot Chocolate     11
15   July                Cocoa      9
16   June  Americano with Milk     69
17   June                Latte     50
18   June           Cappuccino     46
19   June              Cortado     19
20   June            Americano     14
21   June        Hot Chocolate     14
22   June             Espresso     10
23   June                Cocoa      5
24  March                Latte     48
25  March            Americano     36
26  March  Americano with Milk     34
27  March              Cortado     30
28  March        Hot Chocolate     22
29  March           Cappuccino     20
30  March             Espresso     10
31  March                Cocoa      6
32    May  Americano with Milk     58
33    May                Latte     58
34    May           Cappuccino     55
35    May            Americano     48
36    May              Cortado     17
37    May        Hot Chocolate     14
38    May                Cocoa      9
39    May             Espresso      8

In [26]:
#how manypayments were made using cards?
df1['cash_type'].value_counts().reset_index()

  cash_type  count
0      card   1044
1      cash     89

In [27]:
#find total money earned?


df1['money']=df1['money'].astype(int)

df1['money'].sum()

np.int64(36742)

In [28]:
df1

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38,Latte
...,...,...,...,...,...,...
1128,2024-07-31,2024-07-31 20:53:35.077,card,ANON-0000-0000-0443,23,Cortado
1129,2024-07-31,2024-07-31 20:59:25.013,card,ANON-0000-0000-0040,27,Americano with Milk
1130,2024-07-31,2024-07-31 21:26:26.000,card,ANON-0000-0000-0444,32,Latte
1131,2024-07-31,2024-07-31 21:54:11.824,card,ANON-0000-0000-0445,32,Latte
1132,2024-07-31,2024-07-31 21:55:16.570,card,ANON-0000-0000-0446,32,Latte

In [29]:
df2=pd.read_csv('/content/world food production.csv')

In [30]:
df2

,Entity,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
0,Afghanistan,1961,700000.0,319000.00,7.467702e+06,2279000.00,1873812.000,56315.0,3270871.000,12000.000,...,10100.000,232910.000,1131882.00,2.250000e+05,870970.000,835368.000,5600.00,3139079.000,63439.000,15100.000
1,Afghanistan,1962,700000.0,319000.00,7.420515e+06,2279000.00,2044797.000,61519.0,3562524.000,12800.000,...,10100.000,259412.000,1111006.00,2.250000e+05,883512.000,867170.000,6000.00,3181580.000,65118.000,15100.000
2,Afghanistan,1963,713000.0,319000.00,8.479074e+06,1947000.00,2096077.000,63596.0,3409916.000,12800.000,...,10100.000,251529.000,1145004.00,2.250000e+05,996674.000,922621.000,6160.00,3304256.000,61760.000,15100.000
3,Afghanistan,1964,720000.0,380000.00,9.113779e+06,2230000.00,2388264.000,66604.0,3229336.000,12800.000,...,12400.000,247556.000,1160831.00,2.650000e+05,1162048.000,1190061.000,6400.00,3392527.000,62759.000,18400.000
4,Afghanistan,1965,720000.0,380000.00,1.006791e+07,2282000.00,2559608.000,72418.0,3169104.000,13200.000,...,13700.000,266947.000,1138860.00,2.870000e+05,1075084.000,874245.000,6800.00,3450849.000,66269.000,20400.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11907,Zimbabwe,2017,1532572.0,20502618.00,2.673608e+05,30991516.16,324020.864,83904.6,874.408,4077308.066,...,129055.800,40749.600,661978.98,7.018985e+06,63.200,34945.000,75000.00,1267.200,145042.096,1579154.000
11908,Zimbabwe,2018,1560100.0,31871776.60,2.667498e+05,16884482.98,309316.252,66842.6,1383.792,2107639.306,...,168074.000,21606.400,485223.38,3.415107e+06,68.000,34659.800,80357.14,1016.776,143384.384,907419.000
11909,Zimbabwe,2019,773976.0,3382151.40,4.790022e+05,64989733.20,540128.592,9854.4,298831.560,3320915.400,...,1134136.812,45436.400,361128.20,9.645766e+06,30401.400,20961.132,79790.97,195845.198,525095.272,3117813.560
11910,Zimbabwe,2020,1202347.0,3535631.80,7.437612e+05,43020887.20,5635740.200,276279.0,1727311.800,983256.000,...,72179.400,12023.200,279613.40,1.131937e+07,574723.374,158022.122,8000.00,1523258.600,28946.840,7994169.220
11911,Zimbabwe,2021,1469664.0,7575899.96,1.153263e+06,1316724.80,206550.000,145563.0,262706.284,421789.600,...,3597076.600,26225.256,11000.00,3.834786e+05,590070.590,2696.200,8000.00,425303.698,29313.660,112519.364

In [32]:
df2.columns.tolist()

['Entity',
 'Year',
 'Maize Production (tonnes)',
 'Rice  Production ( tonnes)',
 'Yams  Production (tonnes)',
 'Wheat Production (tonnes)',
 'Tomatoes Production (tonnes)',
 'Tea  Production ( tonnes )',
 'Sweet potatoes  Production (tonnes)',
 'Sunflower seed  Production (tonnes)',
 'Sugar cane Production (tonnes)',
 'Soybeans  Production (tonnes)',
 'Rye  Production (tonnes)',
 'Potatoes  Production (tonnes)',
 'Oranges  Production (tonnes)',
 'Peas, dry Production ( tonnes)',
 'Palm oil  Production (tonnes)',
 'Grapes  Production (tonnes)',
 'Coffee, green Production ( tonnes)',
 'Cocoa beans Production (tonnes)',
 'Meat, chicken  Production (tonnes)',
 'Bananas  Production ( tonnes)',
 'Avocados Production (tonnes)',
 'Apples Production (tonnes)']

In [33]:
df2.shape

(11912, 24)

In [35]:
df2.isna().sum()

Entity                                 0
Year                                   0
Maize Production (tonnes)              0
Rice  Production ( tonnes)             0
Yams  Production (tonnes)              0
Wheat Production (tonnes)              0
Tomatoes Production (tonnes)           0
Tea  Production ( tonnes )             0
Sweet potatoes  Production (tonnes)    0
Sunflower seed  Production (tonnes)    0
Sugar cane Production (tonnes)         0
Soybeans  Production (tonnes)          0
Rye  Production (tonnes)               0
Potatoes  Production (tonnes)          0
Oranges  Production (tonnes)           0
Peas, dry Production ( tonnes)         0
Palm oil  Production (tonnes)          0
Grapes  Production (tonnes)            0
Coffee, green Production ( tonnes)     0
Cocoa beans Production (tonnes)        0
Meat, chicken  Production (tonnes)     0
Bananas  Production ( tonnes)          0
Avocados Production (tonnes)           0
Apples Production (tonnes)             0
dtype: int64

In [44]:
import numpy as np # numarical calculation
import matplotlib.pyplot as plt # basic vizualization
import seaborn as sns # attractive graph
import warnings
warnings.filterwarnings('ignore')

In [52]:

df2.head().style.background_gradient(cmap='Blues')

In [54]:
df2.describe()

,Year,Maize Production (tonnes),Rice Production ( tonnes),Yams Production (tonnes),Wheat Production (tonnes),Tomatoes Production (tonnes),Tea Production ( tonnes ),Sweet potatoes Production (tonnes),Sunflower seed Production (tonnes),Sugar cane Production (tonnes),...,Oranges Production (tonnes),"Peas, dry Production ( tonnes)",Palm oil Production (tonnes),Grapes Production (tonnes),"Coffee, green Production ( tonnes)",Cocoa beans Production (tonnes),"Meat, chicken Production (tonnes)",Bananas Production ( tonnes),Avocados Production (tonnes),Apples Production (tonnes)
count,11912.000000,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,...,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04,1.191200e+04
mean,1992.115346,1.926434e+07,2.254542e+07,2.744973e+06,2.365684e+07,3.238661e+06,1.350523e+05,5.021303e+06,1.410297e+06,5.218411e+07,...,2.176532e+06,6.375701e+05,1.502615e+06,3.623623e+06,3.549990e+05,2.191661e+05,1.165719e+06,2.653282e+06,1.564768e+05,3.260419e+06
std,17.606091,7.028022e+07,7.749779e+07,8.787786e+06,6.177899e+07,1.146992e+07,2.544264e+05,2.001692e+07,3.625725e+06,1.527085e+08,...,6.078086e+06,1.527103e+06,6.144476e+06,8.225799e+06,8.785398e+05,5.835509e+05,4.050976e+06,8.178866e+06,4.239785e+05,8.748227e+06
min,1961.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1977.000000,2.379300e+04,3.902475e+04,1.176250e+04,8.892500e+04,1.250000e+04,2.040000e+03,7.082605e+03,1.537675e+04,3.312100e+05,...,1.182728e+04,5.196345e+03,1.384195e+04,6.757700e+04,3.119250e+03,1.092024e+03,3.882640e+03,1.007145e+04,3.681500e+03,4.431650e+04
50%,1993.000000,4.000490e+05,4.543745e+05,1.236055e+05,1.650000e+06,1.291410e+05,2.564550e+04,7.828400e+04,1.481504e+05,3.275770e+06,...,1.469060e+05,4.755700e+04,7.887600e+04,4.680664e+05,3.229550e+04,9.160000e+03,3.659000e+04,1.508370e+05,3.577800e+04,4.222070e+05
75%,2007.000000,4.979875e+06,4.440542e+06,5.721030e+05,1.524149e+07,8.691358e+05,1.192675e+05,7.472216e+05,1.115602e+06,2.507227e+07,...,1.434050e+06,4.269712e+05,4.145059e+05,3.080176e+06,2.126140e+05,1.250475e+05,3.547400e+05,1.187962e+06,1.160314e+05,1.950000e+06
max,2021.000000,1.210235e+09,7.872939e+08,7.871405e+07,7.723055e+08,1.891340e+08,2.524670e+06,1.528620e+08,5.818563e+07,1.958234e+09,...,7.656665e+07,1.663746e+07,7.906779e+07,8.001590e+07,1.079544e+07,5.780850e+06,5.017566e+07,1.249786e+08,8.685672e+06,9.314436e+07

In [57]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11912 entries, 0 to 11911
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Entity                               11912 non-null  object
 1   Year                                 11912 non-null  int64
 2   Maize Production (tonnes)            11912 non-null  float64
 3   Rice  Production ( tonnes)           11912 non-null  float64
 4   Yams  Production (tonnes)            11912 non-null  float64
 5   Wheat Production (tonnes)            11912 non-null  float64
 6   Tomatoes Production (tonnes)         11912 non-null  float64
 7   Tea  Production ( tonnes )           11912 non-null  float64
 8   Sweet potatoes  Production (tonnes)  11912 non-null  float64
 9   Sunflower seed  Production (tonnes)  11912 non-null  float64
 10  Sugar cane Production (tonnes)       11912 non-null  float64
 11  Soybeans  Production (tonnes)        11912 non-null  float64
 12  Rye  Production (tonnes)             11912 non-null  float64
 13  Potatoes  Production (tonnes)        11912 non-null  float64
 14  Oranges  Production (tonnes)         11912 non-null  float64
 15  Peas, dry Production ( tonnes)       11912 non-null  float64
 16  Palm oil  Production (tonnes)        11912 non-null  float64
 17  Grapes  Production (tonnes)          11912 non-null  float64
 18  Coffee, green Production ( tonnes)   11912 non-null  float64
 19  Cocoa beans Production (tonnes)      11912 non-null  float64
 20  Meat, chicken  Production (tonnes)   11912 non-null  float64
 21  Bananas  Production ( tonnes)        11912 non-null  float64
 22  Avocados Production (tonnes)         11912 non-null  float64
 23  Apples Production (tonnes)           11912 non-null  float64
dtypes: float64(22), int64(1), object(1)
memory usage: 2.2+ MB

In [64]:
df2.columns = df2.columns.str.strip()

In [67]:
df2['Total Production (tonnes)']=df2[['Maize Production (tonnes)',  'Rice  Production ( tonnes)']].sum(axis=1)